body {
  font-family: 'Open Sans', sans-serif;
}
body * {
  box-sizing: border-box;;
}

.container {
  padding: 12px;
  width: 100%;
}

.comment {
  display: flex;
  justify-content: flex-start;
  padding: 12px;
  width: 1000px;
  margin-top: 4px;
  box-shadow: 1px 2px 4px #ccc;
}
.comment > div {
  margin: 0 8px;
  min-width: 33px;
}
.comment .name {
  width: 112px;
}
.comment .email {
  width: 300px;
  text-align: center;
}
.comment .body {
  width: 500px;
}

.paginator {
  height: 25px;
}
.page {
  float: left;
  width: 33px;
  height: 25px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ccc;
}
.page.active {
  background: #5b5fe2;
  color: #fff;
}